<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project: Event invite</title>
    </head>
    <style>
    
    body{
        background-color:red;
        color:white;
        font-family:sans-serif;
        text-align:left;
    }
    
    h1{
       text-align:center;
       text-decoration:underline;
       font-style:italic;
    }
    h2{
        text-align:center; 
        
    }
    h3{
      font-family:fantasy;
      text-align: left;
    }
    p{
        font-family:fantasy;
        text-align:left;
    }
    ul{
        font-family:fantasy;
    }
    ol{
        font-family:fantasy;
    }
    h4{
        font-family:fantasy;
        text-align:left;
    }
   #one{
        background-color:blue;
        float:right;
        margin-left:49%;
        width: 49%;
        padding-bottom:0px;
        position:relative;
    }
    #two{
        background-color:green;
        float:left;
        width:49%;
        position:absolute;
        padding-bottom:51px;
        
       
    }
    #wte{
        float:left;
        background-color:lightblue;
        position:relative;
        margin-top:20px;
    }
    #balloons{
        float:right;
      	border:5px dashed pink;
    	border-top:5px solid purple;
    	border-bottom:5px solid purple;
    	width:300px;
    	margin-top:5px;
    	}
    #jc{
    	float:left;
    	border:5px dashed pink;
    	border-top:5px solid purple;
    	border-bottom:5px solid purple;
    	width:300px;
    	margin-top:5px;
    }
    </style>